<div class="col-md-12 footer-box">
    <div class="row">
        <div class="col-md-4">
            <strong>Add Product </strong>
            <hr>
            <form [formGroup]="productForm" (ngSubmit)="addProduct()">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <input name="name" type="text" class="form-control" required="required" placeholder="Name" formControlName="name">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <input name="price" type="text" class="form-control" required="required" placeholder="Price" formControlName="price">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <textarea name="description" id="message" required="required" class="form-control" rows="3" placeholder="Description" formControlName="description"></textarea>
                        </div>
                        <div class="form-group">
                            <button  type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Submit Request</button>
                        </div>
                    </div>
                </div>
            </form>